@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
:root{
  --main : #edf2f7;
  --gradient: none;
}


body{
  font-family: 'Barlow';
  font-size: 16px;
  line-height: 12px;
  background: var(--main);
  background-image: var(--gradient);
  background-repeat: no-repeat;
  height: 98vh;
}

.error-block{
  display: flex;
  justify-content: center;
  height: 10vh;
}
