/*#cardback{
  position: absolute;
  z-index: 50;
  width: auto;
  bottom:120%;
  height: 218px;

}


*/
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
  font-family: 'Barlow';
  font-size: 16px;
  line-height: 12px;
  background: rgb(175,182,226);
  background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
  background-repeat: no-repeat;
  height: 88vh;
}

.reveals-main{
  width: 15%;
  margin-top: 5%;
  margin-left: 40%;
}

.registerDiv{
  position: absolute;
  width: 100%;
  top:0;
  perspective: 1100px;
}

.loginDiv{
  position: absolute;
  width: 100%;
  perspective: 1100px;
}
