@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
  font-family: 'Barlow';
  font-size: 16px;
  line-height: 12px;
  background: #edf2f7;
  /*background: #6f86d6;
  background-image: linear-gradient(#48c6ef,#6f86d6);
  background-repeat: no-repeat;*/
  height: 98vh;
}

.error-block{
  display: flex;
  justify-content: center;
  height: 10vh;
}
