.reveals-main{
  width: 15%;
  margin-top: 5%;
  margin-left: 40%;
  perspective: 800px;
}

.registerDiv{
  position: absolute;
  width: 100%;
  top:0;
}

.loginDiv{
  position: absolute;
  width: 100%;
}
