/*#cardback{
  position: absolute;
  z-index: 50;
  width: auto;
  bottom:120%;
  height: 218px;

}


*/


.reveals-main{
  width: 15%;
  margin-top: 5%;
  margin-left: 40%;
}

.registerDiv{
  position: absolute;
  width: 100%;
  top:0;
  perspective: 1100px;
}

.loginDiv{
  position: absolute;
  width: 100%;
  perspective: 1100px;
}
