.Dashboard-Sidebar{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 30%;
  min-width: 300px;
}

#Sidebar-main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  width: 30%;
  min-height: 650px;
  border-radius: 150px;
  background: rgb(7,7,22);
  box-shadow: 0px 3px 10px 0px rgba(100, 100 , 255,1);
}

#Sidebar-item{
  color:white;
  display:flex;
  justify-content: center;
  padding: 1em;
  border: 1px solid rgba(0,0,0,0);
}

.text-color:hover {
  cursor: pointer;
  border: 2px solid white;

}

.text-color{
  border-radius: 100%;
  border: 2px solid rgba(0,0,0,0);
  padding: 10px;
  box-shadow: none;
  margin-left: 1em;
}

.active{
  border: 2px solid white;
}




#Sidebar-item.logout{
  display: flex;
  justify-content:center;
  cursor:pointer;
  margin-top: 6em;
  margin-left: 1em;
}

#Sidebar-item.logout>img{
  box-shadow: none;
}
