.Order-form{
  margin: 5em;
  margin-left: 20em;
  background: white;
  border: 1px solid rgba(100,100,255,0.2);
  width: 400px;
  min-width: 400px;
  padding: 40px;
  border-radius:10px;
  box-shadow: 0 20px 60px -30px rgba(100,100,255,0.45);
  height: 300px;
}

.Order-form>p>label{
  color:black;
  margin-left: 0
}

.Order-form > hr{
    margin-bottom: 3em;
}

.Order-form>p>input{
  width: 90%;
  border: 1px solid rgba(100,100,255,0.2);
  padding: 10px;
  border-radius: 10px;
}


.order-submit-container{
  display: flex;
  justify-content: space-around;
}


.Order-form>div>p>input[type="submit"]{
  border: 1px solid rgba(100,100,255,0.2);
  padding: 10px;
  border-radius: 10px;
  background: rgba(100,100,255,0.5);
  cursor: pointer;
  margin-left: 1em;
}


.Order-form>div>p>input[type="submit"]:hover{
  background: rgba(100,100,255,0.2);
}
