html,body{
  height: 100%;
}

.Dashboard-Container{
  display: flex;
  height: 88vh;
}


.Dashboard-body{
  width: 70%;
}

.Dashboard-content{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-width: 500px;
  background: Azure;
  height: 65vh;
  overflow-y: scroll;
}

.Dashboard-MetaPanel{
  display: flex;
  flex-direction: column;
  width: 20%;
}
