html,body{
  height: 100%;
}

.Dashboard-Container{
  display: flex;
  height: 88vh;
}

.Dash-body{
  width: 70%;
}

.Dashboard-body{
  width: 90%;
}

.Dashboard-body-footer{
  margin-top: 4em;
  display: flex;
  justify-content: space-around;
}

.Dashboard-content{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-width: 500px;
  background: Azure;
  height: 38em;
}

.Dashboard-MetaPanel{
  display: flex;
  flex-direction: column;
  width: 20%;
}
